@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

@font-face {
    font-family: Avenir;
    src: url(avenir_ff/AvenirLTStd-Book.otf);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Changes between Coversheet and Coresheet */
.charsheet input.change[value="01"]~.sheet-intro,
.charsheet input.change[value="02"]~.wands-charactersheet {
    display: none;
}

/*-----background-----*/
.charsheet {
    background-size: 100%;
    width: 840px;
    font-family: "New Rocker", cursive;
    letter-spacing: 1px;
    color: black;
}

/*----------- Tabs Setup -------------*/
.charsheet div[class^="sheet-tab-content"] {
    /* tab essentials */
    display: none;
    padding: 10px;
    /* tw */
    /* end tab essentials */
    background-size: 840px;
}

.charsheet input.sheet-tab1:checked~div.sheet-tab1,
.charsheet input.sheet-tab2:checked~div.sheet-tab2,
.charsheet input.sheet-tab3:checked~div.sheet-tab3,
.charsheet input.sheet-tab4:checked~div.sheet-tab4,
.charsheet input.sheet-tab5:checked~div.sheet-tab5 {
    /* tab essentials */
    display: block;
    /* end tab essentials */
}

.charsheet input.sheet-tab {
    /* tab essentials */
    width: 150px;
    /* tw */
    height: 45px;
    position: relative;
    opacity: 0;
    z-index: 998;
    /* end tab essentials */
    cursor: pointer;
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg);
}

.charsheet span.sheet-tab {
    /* tab essentials */
    display: inline-block;
    position: relative;
    margin-left: -155px;
    /* tw */
    width: 150px;
    /* tw */
    /* end tab essentials */
    vertical-align: middle;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    text-align: center;
    /* Tabs when not clicked */
    border: 2px solid black;
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg);

}

.charsheet input.sheet-tab1:checked+span.sheet-tab1,
.charsheet input.sheet-tab2:checked+span.sheet-tab2,
.charsheet input.sheet-tab3:checked+span.sheet-tab3,
.charsheet input.sheet-tab4:checked+span.sheet-tab4,
.charsheet input.sheet-tab5:checked+span.sheet-tab5 {
    /* Tabs when clicked */
    border: 3px solid black;
    font-size: 20px;
}

/*----------- Tab Contents Styling -------------*/

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.charsheet .managed {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 500px;
    height: 200px;
}

.charsheet .swear {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 100px;
}

.charsheet .pendragon {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 500px;
    padding-bottom: 100px;
}

div.sheet-intro {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    min-height: 800px;
    color: black;
}

div.sheet-tab1 {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg);
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    color: black;
}

.charsheet .whispersetting {
    width: 900px;
    height: 30px;
    text-align: center;
}

.charsheet .whisperselect {
    border-style: solid;
    background: none;
    color: #000000;
    border-color: #000000;
    border-width: 2px;
}

div.sheet-tab2 {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg);
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    color: black;
}

div.sheet-tab3 {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg);
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    color: black;
}

.charsheet .sheet-cauldron-image {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/cauldron25.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

div.sheet-tab4 {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg);
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    color: black;
}

div.sheet-tab5 {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg);
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    color: black;
}

.charsheet .main-body {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    color: black;
    display: flex;
    flex-direction: column;
}

.charsheet .main-header {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/hogwartscrest30.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    border: double;
    border-width: 7px;
    border-color: black;
    width: 880px;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.charsheet .first-line,
.second-line {
    display: flex;
    outline: 0;
    border-width: 0 0 2px;
    color: black;
    justify-content: space-around;
}

.charsheet .firstsubline,
.secondsubline {
    display: flex;
    justify-content: space-around;
}

.charsheet .charname,
.pet-species,
.pet-name,
.house,
.caststyle,
.school,
.background {
    background: none;
    border: none;
    border-bottom: solid;
    color: black;
    font-size: 15px;
    width: 20%;
    text-align: center;
}

.charsheet .charname {
    margin-bottom: 9px;
}

.charsheet .pet-species {
    margin-bottom: 9px;
}

.charsheet .pet-name {
    margin-bottom: 9px;
}

.charsheet .charlevel {
    background: none;
    border: none;
    border-bottom: solid;
    color: black;
    font-size: 15px;
    width: 20%;
    text-align: center;
}

.charsheet .wizardtitle {
    width: 20%;
    text-align: center;
}

.charsheet .wizardlevel {
    width: 20%;
    text-align: center;
}

.charsheet .wizardpet {
    width: 20%;
    text-align: center;
}

.charsheet .wizardpetname {
    width: 20%;
    text-align: center;
}

.charsheet .wizardhouse {
    width: 20%;
    text-align: center;
}

.charsheet .wizardcasting {
    width: 20%;
    text-align: center;
}

.charsheet .wizardschool {
    width: 20%;
    text-align: center;
}

.charsheet .wizardbackground {
    width: 20%;
    text-align: center;
}

.charsheet .cards {
    min-height: 30px;
    display: flex;
    text-align: center;
    color: black;
}

.charsheet .card1 {
    display: flex;
    flex-direction: column;
    width: 33.4%;
    color: black;
}

.charsheet .card1a {
    min-height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: black;
}

.charsheet .card1b {
    min-height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
}

.charsheet .att-boxes {
    min-height: 100px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
}

.charsheet button[type=roll].sheet-blank-roll-button {
    border: 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
}

.charsheet button[type=roll].sheet-blank-roll-button::before {
    content: "";
    color: black;
}

.charsheet .strength-box {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/attribute-box.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    min-height: 150px;
    width: 90%;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.charsheet .strength-value {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 35px;
    background: none;
    border: none;
    color: black;
}

.charsheet .strength-mod-value {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 15px;
    background: none;
    border: none;
    color: black;
}

.charsheet .dexterity-box {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/attribute-box.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    min-height: 150px;
    width: 90%;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.charsheet .dexterity-value {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 35px;
    background: none;
    border: none;
    color: black;
}

.charsheet .dexterity-mod-value {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 15px;
    background: none;
    border: none;
    color: black;
}

.charsheet .constitution-box {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/attribute-box.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    min-height: 150px;
    width: 90%;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.charsheet .constitution-value {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 35px;
    background: none;
    border: none;
    color: black;
}

.charsheet .constitution-mod-value {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 15px;
    background: none;
    border: none;
    color: black;
}

.charsheet .intelligence-box {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/attribute-box.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    min-height: 150px;
    width: 90%;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.charsheet .intelligence-value {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 35px;
    background: none;
    border: none;
    color: black;
}

.charsheet .intelligence-mod-value {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 15px;
    background: none;
    border: none;
    color: black;
}

.charsheet .wisdom-box {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/attribute-box.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    min-height: 150px;
    width: 90%;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.charsheet .wisdom-value {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 35px;
    background: none;
    border: none;
    color: black;
}

.charsheet .wisdom-mod-value {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 15px;
    background: none;
    border: none;
    color: black;
}

.charsheet .charisma-box {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/attribute-box.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    min-height: 150px;
    width: 90%;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.charsheet .charisma-value {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 35px;
    background: none;
    border: none;
    color: black;
}

.charsheet .charisma-mod-value {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 15px;
    background: none;
    border: none;
    color: black;
}

.charsheet .stat-boxes {
    min-height: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
}

.charsheet .insp-box {
    outline-style: solid;
    outline-color: black;
    min-height: 60px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .insp-value {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .inspiration-box {
    font-size: 15px;
    height: 20px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    padding-right: 10px;
    color: black;
}

.charsheet .prof-box {
    outline-style: solid;
    outline-color: black;
    min-height: 60px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .prof-value {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .proficiency-box {
    font-size: 15px;
    height: 20px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    padding-right: 10px;
    color: black;
}

.charsheet button[type=roll].saving-throw-button {
    border: 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 9px;
    color: black;
}

.charsheet button[type=roll].saving-throw-button::before {
    content: "";
    color: black;
}

.charsheet .saving-throws-container {
    display: flex;
    flex-direction: column;
    height: 204px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    outline-style: solid;
    outline-color: black;
}

.charsheet .str-check-box {
    display: flex;
    padding-left: 15px;
    color: black;
}

.charsheet .dex-check-box {
    display: flex;
    padding-left: 15px;
    color: black;
}

.charsheet .con-check-box {
    display: flex;
    padding-left: 15px;
    color: black;
}

.charsheet .int-check-box {
    display: flex;
    padding-left: 15px;
    color: black;
}

.charsheet .wis-check-box {
    display: flex;
    padding-left: 15px;
    color: black;
}

.charsheet .cha-check-box {
    display: flex;
    padding-left: 15px;
    color: black;
}

.charsheet button[type=roll].skills-button {
    border: 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 9px;
    color: black;
}

.charsheet button[type=roll].skills-button::before {
    content: "";
    color: black;
}

.charsheet .skills-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    outline-style: solid;
    outline-color: black;
}

.charsheet .attribute-origin {
    font-size: 9px;
    color: rgb(69, 69, 69);
    padding-top: 7px;
}

.charsheet .acrobatics-check-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .animal-handling-check-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .athletics-check-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .deception-check-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .herbology-check-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .history-of-magic-check-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .insight-check-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .intimidation-check-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .investigation-check-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .magical-creatures-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .medicine-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .muggle-studies-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .perception-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .performance-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .persuasion-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .potion-making-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .sleight-of-hand-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .stealth-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .survival-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.charsheet .passivewisdom-box {
    outline-style: solid;
    outline-color: black;
    min-height: 50px;
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .passiveperception-value {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .passiveintelligence-box {
    outline-style: solid;
    outline-color: black;
    min-height: 50px;
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .passiveinvestigation-value {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .passive-box {
    font-size: 15px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    padding-right: 10px;
    color: black;
}

.charsheet .passiveinv-box {
    font-size: 12px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    padding-right: 10px;
    color: black;
}

.charsheet .sheet-container-header {
    text-decoration: underline;
    font-size: 18px;
}

.charsheet .equip-unequip {
    text-decoration: underline;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
}

.charsheet .prof-expert {
    display: flex;
    font-size: 12px;
    text-align: left;
    padding-left: 8px;
}

.charsheet .proflabel {
    padding-left: 3px;
    padding-right: 7px;
}

.charsheet .gearbox {
    margin-right: 10px;
    margin-left: 5px;
}

.charsheet .tools-container {
    border-style: solid;
    border-color: black;
    width: 97%;
    min-height: 50px;
    margin-right: auto;
    margin-left: auto;
}

.charsheet .card2 {
    min-height: 30px;
    width: 33.4%;
}

.charsheet .row1 {
    display: flex;
}

.charsheet .armor-box {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/hat-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.charsheet .ac-score {
    color: black;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.charsheet .armor-class-box {
    font-size: 12px;
    height: 25px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    padding-bottom: 5px;
}

.charsheet button[type=roll].init-button {
    border: 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 13px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    padding-bottom: 9px;
    color: black;
}

.charsheet button[type=roll].init-button::before {
    content: "";
}

.charsheet .init-box {
    /* background-color: rgb(210, 195, 155); */
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/snitch-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.charsheet .init-score {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.charsheet .init-button {
    height: 25px;
    width: 80px;
}

.charsheet .speed-box {
    /* background-color: rgb(210, 195, 155); */
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/broom-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.charsheet .spd-score {
    color: black;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.charsheet .spd-box {
    font-size: 12px;
    height: 25px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    padding-bottom: 5px;
}

.charsheet .hit-point-container {
    /* background-color: rgb(210, 195, 155); */
    outline-style: solid;
    outline-color: black;
    min-height: 100px;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.charsheet .hpmaxcontainer {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    border: none;
    background-color: transparent;
    align-items: center;
    color: black;
}

.charsheet .hpmax-score {
    font-size: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .hp-score {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .tempcontainer {
    /* background-color: rgb(210, 195, 155); */
    outline-style: solid;
    outline-color: black;
    min-height: 100px;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .temphp-score {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .row2 {
    display: flex;
    color: black;
}

.charsheet button[type=roll].hit-dice-button {
    border: 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: black;
}

.charsheet button[type=roll].hit-dice-button::before {
    content: "";
}

.charsheet .hit-dice-container {
    /* background-color: rgb(210, 195, 155); */
    outline-style: solid;
    outline-color: black;
    min-height: 100px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .hitcontainer {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    border: none;
    background-color: transparent;
    align-items: center;
    color: black;
}

.charsheet .hitdice-total {
    font-size: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .hit-dice-score {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .hit-dice-select {
    background: none;
    border: solid;
    border-color: black;
}

.charsheet button[type=roll].death-save-button {
    border: 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: black;
}

.charsheet button[type=roll].death-save-button::before {
    content: "";
}

.charsheet .death-save-container {
    /* background-color: rgb(210, 195, 155); */
    outline-style: solid;
    outline-color: black;
    min-height: 100px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .death-save-check-box {
    display: flex;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.charsheet .death-failure-check-box {
    display: flex;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.charsheet .sheet-death-save-image {
    padding-left: 5px;
}

.charsheet .sheet-death-failure-image {
    padding-left: 10px;
}

#cb1 {
    accent-color: green;
}

#cb2 {
    accent-color: red;
}

.charsheet button[type=roll].attack-button {
    border: 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: black;
}

.charsheet button[type=roll].attack-button::before {
    content: "";
}

.charsheet .attack-container {
    min-height: 30px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border: solid;
    border-color: black;
}

.charsheet .inventory-container {
    color: black;
    border: solid;
    border-color: black;
    min-height: 400px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.charsheet .sheet-container-inventory {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/wizard-cart35.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: 280px 400px;
    min-height: 500px;
}

.charsheet .coinboxes {
    display: flex;
    justify-content: space-around;
    width: 99%;
    border-bottom: solid;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.charsheet .knut,
.sickle,
.galleon,
.ruby,
.total-galleons {
    background: none;
    text-align: center;
    border-color: black;
    color: black;
}

.charsheet .total-galleons {
    border-color: black;
}

.charsheet .card3 {
    min-height: 30px;
    width: 33.4%;
    color: black;
}

.charsheet .personality-container {
    /* background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/vintage-background.png); */
    outline-style: solid;
    outline-color: black;
    background-color: transparent;
    height: 150px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: black;
}

.charsheet .personality-title {
    background-color: transparent;
    outline-style: solid;
    outline-color: black;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: black;
}

.charsheet .personality-text {
    background-color: transparent;
    font-family: Avenir, sans-serif;
    line-height: 16px;
    font-size: 12px;
    flex-grow: 1;
    border: 0;
    padding: 0;
    resize: none;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 4px;
    height: 128px;
    color: black;
}

.charsheet .ideals-container {
    /* background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg); */
    outline-style: solid;
    outline-color: black;
    background-color: transparent;
    height: 100px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: black;
}

.charsheet .ideals-title {
    background-color: transparent;
    outline-style: solid;
    outline-color: black;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: black;
}

.charsheet .ideals-text {
    background-color: transparent;
    flex-grow: 1;
    font-family: Avenir, sans-serif;
    line-height: 16px;
    font-size: 12px;
    border: 0;
    padding: 0;
    resize: none;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 4px;
    height: 78px;
    color: black;
}

.charsheet .bond-container {
    /* background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg); */
    outline-style: solid;
    outline-color: black;
    background-color: transparent;
    height: 100px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: black;
}

.charsheet .bond-title {
    outline-style: solid;
    outline-color: black;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .bond-text {
    background-color: transparent;
    flex-grow: 1;
    font-family: Avenir, sans-serif;
    line-height: 16px;
    font-size: 12px;
    border: 0;
    padding: 0;
    resize: none;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 4px;
    height: 78px;
    color: black;
}

.charsheet .flaw-container {
    /* background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg); */
    outline-style: solid;
    outline-color: black;
    background-color: transparent;
    height: 100px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: black;
}

.charsheet .flaw-title {
    background-color: transparent;
    outline-style: solid;
    outline-color: black;
    font-size: 12px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .flaw-text {
    background-color: transparent;
    flex-grow: 1;
    font-family: Avenir, sans-serif;
    line-height: 16px;
    font-size: 12px;
    border: 0;
    padding: 0;
    resize: none;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 4px;
    height: 78px;
    color: black;
}

.charsheet .row4 {
    display: flex;
    color: black;
}

.charsheet .resource1 {
    outline-style: solid;
    outline-color: black;
    min-height: 100px;
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .max-resource-container {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    border: none;
    background-color: transparent;
    align-items: center;
    color: black;
}

.charsheet .resource-max-number {
    font-size: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .current-resource {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .new-resource {
    background: none;
    border: none;
    color: black;
    width: fit-content;
    text-align: center;
}

.charsheet .resource2 {
    outline-style: solid;
    outline-color: black;
    min-height: 100px;
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .max-resource2-container {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    border: none;
    background-color: transparent;
    align-items: center;
    color: black;
}

.charsheet .resource2-max-number {
    font-size: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .current-resource2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .new-resource2 {
    background: none;
    border: none;
    color: black;
    width: fit-content;
    text-align: center;
}

.charsheet .row5 {
    display: flex;
    color: black;
}

.charsheet .resource3 {
    outline-style: solid;
    outline-color: black;
    min-height: 100px;
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .max-resource3-container {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    border: none;
    background-color: transparent;
    align-items: center;
    color: black;
}

.charsheet .resource3-max-number {
    font-size: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .current-resource3 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .new-resource3 {
    background: none;
    border: none;
    color: black;
    width: fit-content;
    text-align: center;
}

.charsheet .resource4 {
    outline-style: solid;
    outline-color: black;
    min-height: 100px;
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .max-resource4-container {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    border: none;
    background-color: transparent;
    align-items: center;
    color: black;
}

.charsheet .resource4-max-number {
    font-size: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .current-resource4 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.charsheet .new-resource4 {
    background: none;
    border: none;
    color: black;
    width: fit-content;
    text-align: center;
}

.charsheet .row6 {
    display: flex;
    justify-content: space-evenly;
    color: black;
    width: 300px;
}

.charsheet .feats-container {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/pile-of-books35.png);
    border-style: solid;
    border-color: black;
    width: 97%;
    min-height: 500px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: 280px 400px;
}

.charsheet .spell-cards {
    display: flex;
}

.charsheet .sheet-spell-header {
    width: 880px;
    border-style: double;
    border-color: black;
    border-width: 7px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(220, 210, 190); */
}

.charsheet .line1 {
    display: flex;
    outline: 0;
    border-width: 0 0 2px;
    color: black;
    justify-content: space-around;
    align-items: baseline;
}

.charsheet .charname2,
.save-dc,
.spell-bonus {
    background: none;
    border: none;
    border-bottom: solid;
    color: black;
    font-size: 18px;
    width: 20%;
    text-align: center;
}

.charsheet .charname2 {
    margin-bottom: 9px;
}

.charsheet .spell_save_dc {
    background: none;
    border: none;
    border-bottom: solid;
    color: black;
    font-size: 18px;
    width: 20%;
    height: 32.5px;
    text-align: center;
}

.charsheet .line2 {
    display: flex;
    background: none;
    justify-content: space-around;
}

.charsheet .wizard-name,
.wizardability,
.wizardsavedc,
.wizardmagicbonus {
    display: flex;
    width: 20%;
    justify-content: center;
}

.charsheet input[type='text'].save-dc {
    width: 176px;
    border: none;
    background: none;
    border-bottom: solid;
    margin-bottom: 9px;
}

.charsheet input[type='text'].spell-bonus {
    width: 176px;
    border: none;
    background: none;
    border-bottom: solid;
    margin-bottom: 9px;
}

.charsheet .spellslots {
    width: 880px;
    font-size: 20px;
    border-style: double;
    border-color: black;
    border-width: 7px;
    margin-left: auto;
    margin-right: auto;
}

.charsheet .slot {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.charsheet .spellslotheader {
    font-size: 16px;
    width: 880px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.charsheet .slotstyle {
    background: none;
    border-color: black;
    text-align: center;
}

.charsheet .cantriptitle,
.leveltitle {
    text-align: center;
}

.charsheet .spell-card1,
.spell-card2,
.spell-card3 {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 20px;
    color: black;
    justify-content: flex-start;
}

.charsheet .cantriplist,
.spelllist1,
.spelllist2,
.spelllist3,
.spelllist4,
.spelllist5,
.spelllist6,
.spelllist7,
.spelllist8,
.spelllist9 {
    padding-left: 5px;
}

/* 46.5px difference when new spell is added or if a spell is removed */

.charsheet .spelllist1,
.spelllist2 {
    min-height: 1863px;
}

.charsheet .spelllist4,
.spelllist5 {
    min-height: 1024px;
}

.charsheet .spelllist7,
.spelllist8 {
    min-height: 140px;
}

.charsheet .cantrips,
.level1,
.level2,
.level3,
.level4,
.level5,
.level6,
.level7,
.level8,
.level9 {
    /* background-color: rgb(220, 210, 190);
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg); */
    border: double;
    border-color: black;
    border-width: 5px;
}

.charsheet button[type=roll].sheet-potion-button {
    border: 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
}

.charsheet button[type=roll].sheet-potion-button::before {
    content: "";
    color: black;
}

.charsheet .potion-cards {
    display: flex;
}

.charsheet .yeartitle {
    text-align: center;
}

.charsheet .potion-card1,
.potion-card2,
.potion-card3 {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 20px;
    color: black;
    justify-content: flex-start;
}

.charsheet .potionlist1,
.potionlist2,
.potionlist3,
.potionlist4,
.potionlist5,
.potionlist6,
.potionlist7 {
    padding-left: 5px;
}

.charsheet .potionimage {
    min-height: 260px;
}

.charsheet .year1,
.year2,
.year3,
.year4,
.year5,
.year6,
.year7,
.potionimage {
    border: double;
    border-color: black;
    border-width: 5px;
}

.charsheet .stubborntext {
    font-size: 15px;
}

.charsheet .sheet-fieldset-item {
    display: flex;
    flex-direction: column;
    min-height: 18px;
}

.charsheet .sheet-pc-feature {
    text-align: start;
    margin-left: 10px;
}

/* .repcontrol and .repcontainer may not be in HTML but will still affect ADD/MODIFY buttons */
.charsheet .repcontainer {
    flex-grow: 1;
}

.charsheet .repcontrol {
    border-color: #000000;
    border-top: 1px solid #000000;
    padding-top: 5px;
    margin-top: 5px;
}

.charsheet .sheet-tab1 .repcontrol .btn {
    background: none;
    border-color: #000000;
    border-width: 1px;
    box-shadow: none;
    font-size: 9px;
    font-weight: bold;
    padding: 0 5px;
}

.charsheet .sheet-tab2 .repcontrol .btn {
    display: none;
}

.charsheet .repcontrol .btn:hover {
    background: #ffffff;
}

.charsheet .repitem:not(:first-of-type) {
    border-color: #ffffff;
}

.charsheet .repitem:not(:last-of-type) {
    margin-bottom: 2px;
}

.charsheet .repcontainer.editmode .repitem .itemcontrol {
    align-items: center;
    border-bottom: 2px solid transparent;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    z-index: 2;
}

.charsheet .repcontainer.editmode .repitem .itemcontrol .btn {
    box-sizing: border-box;
    height: 18px;
    line-height: 16px;
    padding: 0;
    text-align: center;
}

.charsheet .repcontainer.editmode .repitem .itemcontrol .btn:not(:last-child) {
    margin-left: 10px;
}

.charsheet .repcontainer.editmode .repitem .sheet-fieldset-item {
    opacity: 0.25;
}

.charsheet .sheet-fieldset-item {
    display: flex;
    flex-direction: column;
    min-height: 18px;
}

.charsheet .sheet-fieldset-item> :last-child {
    margin-bottom: 0;
}

/* Size of EDIT ATTACKS */
.charsheet .sheet-form {
    border-radius: 6px;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 268px;
}

.charsheet .sheet-form.sheet-form-borderless {
    border-radius: 0;
    border: 0;
}

.charsheet .sheet-form.sheet-form-borderless .sheet-form-body {
    padding: 0;
}

.charsheet .sheet-form> :last-child {
    margin-bottom: 0;
}

/* Words/input editable by user */
.charsheet .sheet-form input,
.charsheet .sheet-form select,
.charsheet .sheet-form textarea,
.charsheet .sheet-form .uneditable-input {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    height: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 0;
    font-family: Avenir, sans-serif;
    line-height: 16px;
    font-size: 12px;
}

.charsheet .sheet-form textarea {
    min-height: 56px;
    resize: vertical;
}

/* Word labels inside EDIT ATTACK */
.charsheet .sheet-form label {
    color: rgb(0, 0, 0);
    font-size: inherit;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: auto;
    font-size: 12px;
    text-transform: uppercase;
}

.charsheet .sheet-form select {
    cursor: pointer;
}

/* Lines inside EDIT ATTACK */
.charsheet .sheet-form input {
    border-bottom: 1px solid #000000;
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    text-overflow: ellipsis;
}

/* EDIT ATTACK Header */
.charsheet .sheet-form .sheet-form-header {
    background: #000000;
    color: white;
    font-size: 9px;
    font-weight: bold;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
}

/* EDIT ATTACK form background */
.charsheet .sheet-form .sheet-form-body {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg);
    flex-grow: 1;
    padding: 5px;
}

.charsheet .sheet-form .sheet-toggle+.sheet-form-group,
.charsheet .sheet-form .sheet-form-group+*,
.charsheet .sheet-form .sheet-form-fieldset+* {
    margin-top: 4px;
}

.charsheet .sheet-form .sheet-form-group {
    display: flex;
}

.charsheet input {
    background: none;
}

.charsheet select {
    background: none;
    border-color: black;
}

.charsheet .sheet-form .sheet-form-group>*+* {
    margin-left: 5px;
    background: none;
    border-color: black;
}

.charsheet .source {
    background: none;
    border-color: black;
}

.charsheet .textarea {
    background: none;
    border-color: black;
    font-family: Avenir, sans-serif;
    line-height: 16px;
    font-size: 12px;
}

.charsheet .desctextarea,
.save-attr,
.atkattr-base {
    background: none;
    border-color: black;
}

.charsheet .sheet-form .sheet-form-fieldset .sheet-form-fieldset-body {
    padding: 5px;
}

.charsheet .sheet-form .sheet-form-checkbox {
    cursor: pointer;
    display: flex;
}

.charsheet .sheet-form .sheet-form-checkbox:hover {
    background: #e5fffb;
}

.charsheet .sheet-form .sheet-form-checkbox input {
    height: 16px;
    width: auto;
}

.charsheet .sheet-form .sheet-form-checkbox input+span {
    margin-left: 5px;
}

/* DO NOT DELETE! */
.charsheet .sheet-hidden {
    display: none !important;
}

.charsheet .sheet-checkbox-cog {
    display: inline-block;
    height: 18px;
    width: 18px;
    position: relative;
    top: 18px;
    left: 250px;
}

.charsheet .sheet-checkbox-cog input {
    height: 100%;
    margin: 0;
    opacity: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

.charsheet .sheet-checkbox-cog input:checked~span {
    border: none;
    color: inherit;
    opacity: .75;
    top: -2px;
}

.charsheet .sheet-checkbox-cog input:checked~span::before {
    content: '2';
    color: white;
}

.charsheet .sheet-checkbox-cog:hover span {
    color: black;
}

.charsheet .sheet-checkbox-cog:hover input:checked~span {
    opacity: 1;
}

/* EDIT ATTACK Cog Wheel */
.charsheet .sheet-checkbox-cog span {
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
    color: rgb(120, 85, 60);
    display: flex;
    font-family: 'Pictos';
    font-size: 13px;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.charsheet .sheet-checkbox-cog span::before {
    content: 'y';
}

.charsheet .sheet-toggle~.sheet-toggle-checked {
    display: none;
    width: auto;
}

.charsheet .sheet-toggle~.sheet-toggle-unchecked {
    display: block;
    width: auto;
}

.charsheet .sheet-toggle:checked~.sheet-toggle-checked {
    display: block;
    width: auto;
}

.charsheet .sheet-toggle:checked~.sheet-toggle-unchecked {
    display: none;
    width: auto;
}

.charsheet .sheet-field-toggle:not([value])+*,
.charsheet .sheet-field-toggle[value=""]+*,
.charsheet .sheet-field-toggle[value="0"]+*,
.charsheet .sheet-field-toggle[value="hide"]+* {
    display: none !important;
}

.charsheet .sheet-field-untoggle[value="1"]+* {
    display: none !important;
}


.charsheet .bio-header {
    margin-left: auto;
    margin-right: auto;
    border: double;
    border-width: 7px;
    border-color: black;
    width: 880px;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.charsheet .first-line,
.second-line {
    display: flex;
    outline: 0;
    border-width: 0 0 2px;
    color: black;
    justify-content: space-around;
}

.charsheet .firstsubline,
.secondsubline {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.charsheet .biocharname,
.char-age,
.char-size,
.char-skin,
.height,
.weight,
.eyes,
.hair {
    background: none;
    border: none;
    border-bottom: solid;
    color: black;
    font-size: 15px;
    width: 20%;
    text-align: center;
}

.charsheet .chartitle {
    width: 20%;
    text-align: center;
}

.charsheet .charage {
    width: 20%;
    text-align: center;
}

.charsheet .charsize {
    width: 20%;
    text-align: center;
}

.charsheet .charskin {
    width: 20%;
    text-align: center;
}

.charsheet .charheight {
    width: 20%;
    text-align: center;
}

.charsheet .charweight {
    width: 20%;
    text-align: center;
}

.charsheet .chareyes {
    width: 20%;
    text-align: center;
}

.charsheet .charhair {
    width: 20%;
    text-align: center;
}


.charsheet .book1header,
.book2header,
.book3header {
    font-size: 35px;
    text-align: center;
    color: black;
}

.charsheet .sheet-diary,
.sheet-history,
.sheet-notes {
    margin-bottom: 25px;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.charsheet .sheet-diary textarea.diary1,
.sheet-history textarea.history1,
.sheet-notes textarea.notes1 {
    min-height: 330px;
    width: 330px;
    background: none;
    border: none;
    color: black;
    font-size: 15px;
}

.charsheet .sheet-diary textarea.diary2,
.sheet-history textarea.history2,
.sheet-notes textarea.notes2 {
    min-height: 330px;
    width: 330px;
    background: none;
    border: none;
    color: black;
    font-size: 15px;
}

.charsheet .tab5-book1 {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/text-background-a.png);
    background-size: 800px 400px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.charsheet .tab5-book2 {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/text-background-a.png);
    background-size: 800px 400px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.charsheet .tab5-book3 {
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/text-background-a.png);
    background-size: 800px 400px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.charsheet .credits {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
}

.charsheet p {
    font-family: 'Times New Roman', Times, serif;
}

/* ROLLTEMPLATE */

/* Smaller margins - remove these if you want the huge default left margin */
.sheet-rolltemplate-custom {
    margin-left: -37px;
    background-image: url(https://raw.githubusercontent.com/Scruffy518/Wands/main/Magic/images/old-parchment.jpg);
    font-family: Avenir, sans-serif;
    color: black;
    font-size: 14px;
}

.withoutavatars .sheet-rolltemplate-custom {
    margin-left: -7px;
}

.sheet-rolltemplate-custom .sheet-container {
    border: 1px solid;
    /* by default, the border is the same color as the header. You can change this here, e.g. to black */
    border-color: var(--header-bg-color);
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-custom .sheet-header {
    background-color: var(--header-bg-color);
    /* change text-align to center to center the header text */
    text-align: center;
    color: var(--header-text-color);
    padding: 5px;
}

.sheet-rolltemplate-custom .sheet-title {
    font-size: 18px;
    font-family: "New Rocker", cursive;
}

.sheet-rolltemplate-custom .sheet-subtitle {
    font-size: .9em;
}

.sheet-rolltemplate-custom .sheet-subtitle2 {
    font-size: .9em;
}

/* example colors */
.sheet-rolltemplate-custom .sheet-container {
    /* this is the default color */
    --header-bg-color: rgb(60, 30, 15);
    --header-text-color: #FFF;
}

.sheet-rolltemplate-custom .sheet-container.sheet-color-red {
    --header-bg-color: #F00;
}

.sheet-rolltemplate-custom .sheet-container.sheet-color-green {
    --header-bg-color: #0F0;
    --header-text-color: #000;
}

/* Allprops part */
.sheet-rolltemplate-custom .sheet-content {
    display: grid;
    /* background: rgb(240, 220, 200); */
    /* Header formatting - modify the column layout below */
    grid-template-columns: auto auto;
    /* Line height to match default roll template */
    line-height: 1.4em;
}

.sheet-rolltemplate-custom .sheet-content>div {
    padding: 5px;
}

/* Left column */
.sheet-rolltemplate-custom .sheet-content .sheet-key {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
}

/* Empty rule, use this if you want to change the right column 
  .sheet-rolltemplate-custom .sheet-value {
  }
  */

/* Make even-numbered rows grey */
.sheet-rolltemplate-custom .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-custom .sheet-content :nth-child(4n) {
    /* background: rgb(240, 220, 200); */
    background: none;
}

/* Description field */
.sheet-rolltemplate-custom .sheet-desc {
    grid-column: span 2;
    padding: 5px;
    text-align: center;
}

.sheet-rolltemplate-custom .inlinerollresult {
    background-color: transparent;
    border: none;
}

.sheet-rolltemplate-custom .inlinerollresult {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 0px;
}

.sheet-rolltemplate-custom .inlinerollresult.fullcrit {
    color: rgb(0, 165, 0);
    border: none;
}

.sheet-rolltemplate-custom .inlinerollresult.fullfail {
    color: red;
    border: none;
}

.sheet-rolltemplate-custom .inlinerollresult.importantroll {
    border: none;
}